


/* INICIO */



/* MENU */





 











/* MIXIN */

/*
@mixin tamaño($ancho, $alto){
    width: $ancho;
    height: $alto;
    }
@include tamaño(700px, 170px)

$redes:(
facebook:#000F92,
instagram:#EC4E13,
youtube:#FF0400,
spotify:#29C200,
);

@each $clave, $valor in $redes {
    .fa-#{$clave}{
        background: $valor;
        border:$valor;
    }
}
 */






/* CONTACTO */



/* RESPONSIVE DESIGNE */
/* Estilos generales */
/* Tablet */

@media (min-width:600px) and (max-width:1200px){

   /*  body{
        
        background: #000; 
        font-family: 'Mukta', sans-serif;
    }
       .hero{
           
    background: #00c2c7;
} */

 

/* .img__menu{
    flex-direction: column;
}

 .nav ul {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    font-size: 2em;    
    padding: 0;
}

li a{
    display: flex;
    border: #ffff solid 3px;
    padding: 0;
}

.title{
    font-size: 3em;
}



.presentation__inicio{
    font-size: 2em;
} */

/* Menu */

/* Discografia */


/* CONTACTO */




/* formulario */
 
/* .form{
    background: #0086ad;
    padding: 1.5em; 
    border-radius: 5px;
    width: 100%;
    margin: 20% 0;
    height: 100vh;
    }

.form h2{
    font-size: 3em;
    margin: 0;
}
.form div{
    font-size: 2em;
    color: #daf8e3;
    
} */



/* .form__check{
padding: 0;
text-align: start;
font-size: 1em;
margin: 3% 0;
} */

/* MAPA */
}


/*Smartphone*/

@media (max-width:599px) {

    /* body{
        width: 100%;
        background: #000; 
        font-family: 'Mukta', sans-serif;
        
    }

 .img__menu{
    flex-direction: column;
}


  .nav ul {
    font-size: 1.2em;    
    padding: 0;
} 

li a{
    display: flex;
    border: #ffff solid 3px;
    padding: 0;
}

.title{
    font-size: 3.5em;
}  */

/* footer*/

 /*  .footer{
    background: #00c2c7;
}
.footer__grid{
display: flex;
flex-direction: column;
font-size: 1.5em;
}

.footer__hour{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}
.footer__contact h3{
    display: none;
}

.footer__container{
    margin: 10% 0;
    
    display: flex;
    
    align-self: flex-end;
}

.footer__icon{
    color: inherit;
    font-size: 2em;
    text-decoration: none;
    display: flex;
    align-self: center;
    margin: auto;    
} 

 .footer__container-icons{
    display: flex;
    width: 70px;
    height: 70px;

} 
        
.presentation__inicio{
    font-size: 2em;
}
 */
}