@charset "UTF-8";
/*  Colores */
.hero {
  color: black; }
  .hero .hero__nav {
    background: #20dad8; }
    .hero .hero__nav .nav-link {
      color: #fff;
      font-size: 1.5rem; }

/* Página  inicio */
.img__menu {
  display: flex;
  justify-content: center; }

.presentation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10% 15%;
  /* EXTEND */ }
  .presentation .parrafo__uno, .presentation .parrafo__dos {
    color: #97ebdb;
    margin: 15% 0; }
  .presentation .parrafo__dos {
    color: #fff; }

/* Página menú */
.carta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  background: #0086ad;
  border-radius: 2%;
  text-decoration: underline #daf8e3; }

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 130vh 90vh;
  color: #daf8e3;
  margin: 0 20%; }
  .menu article {
    display: flex;
    flex-flow: column nowrap;
    margin: 5%;
    background: #0086ad;
    border-radius: 2%; }
    .menu article .menu__subtitle {
      display: flex;
      justify-content: center;
      margin: 5% 0;
      font-size: 2.5em;
      color: #daf8e3; }
  .menu h3 {
    margin-left: 5%;
    font-size: 1.5em; }
  .menu li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 5%;
    font-size: 1.2em; }

.img {
  display: grid;
  justify-items: center;
  align-content: center; }
  .img .menu__img {
    width: auto;
    height: 85vh; }

@media (min-width: 600px) and (max-width: 1200px) {
  .carta {
    font-size: 2em;
    margin: 10% 0; }
  .menu {
    display: flex;
    flex-direction: column;
    color: #daf8e3;
    margin: 0;
    background-image: url(../img/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .menu .menu__subtitle {
      font-size: 3.5em; }
    .menu h3 {
      margin-left: 5%;
      font-size: 2.5em; }
    .menu li {
      margin: 0 5%;
      font-size: 2em; }
  .img {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center; }
    .img .menu__img {
      display: none; } }

@media (max-width: 599px) {
  .carta {
    font-size: 1em;
    margin: 10% 0; }
  .menu {
    display: flex;
    flex-direction: column;
    color: #daf8e3;
    margin: 0;
    background-image: url(../img/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .menu .menu__subtitle {
      font-size: 3.5em; }
    .menu h3 {
      margin-left: 5%;
      font-size: 2.5em; }
    .menu li {
      margin: 0 5%;
      font-size: 2em; }
  .img {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center; }
    .img .menu__img {
      display: none; } }

/* Página discografía */
.disco {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10%; }
  .disco .disco__albums {
    display: flex;
    justify-content: center;
    margin: 20% 0; }
    .disco .disco__albums #disco__dos {
      margin: 0 10%; }

@media (min-width: 600px) and (max-width: 1200px) {
  .disco {
    display: flex;
    flex-flow: column nowrap;
    margin: 10%;
    text-align: center; }
    .disco .disco__albums {
      display: flex;
      flex-flow: column nowrap; }
      .disco .disco__albums #disco__uno {
        margin: 20% 0; }
      .disco .disco__albums #disco__dos {
        margin: 20% 0; }
      .disco .disco__albums #disco__tres {
        margin: 20% 0; } }

@media (max-width: 599px) {
  .disco {
    display: flex;
    flex-flow: column nowrap;
    margin: 10%;
    align-items: flex-start; }
    .disco .disco__albums {
      display: flex;
      flex-flow: column nowrap; }
      .disco .disco__albums #disco__uno {
        margin: 20% 0; }
      .disco .disco__albums #disco__dos {
        margin: 20% 0; }
      .disco .disco__albums #disco__tres {
        margin: 20% 0; } }

/* Página  galeria */
.galeria {
  text-align: center;
  margin: 5%; }

.galeria__imagenes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem; }
  .galeria__imagenes .imagenes {
    width: 25rem; }
    .galeria__imagenes .imagenes img {
      width: 100%; }

/* Página  contacto */
.contacto {
  margin-top: 10%;
  margin-bottom: 30%;
  text-align: center;
  gap: 5%; }
  .contacto .contacto__form {
    width: 100%;
    text-align: center; }
    .contacto .contacto__form .form__controls {
      width: 65%;
      font-size: 15px;
      justify-content: center; }
    .contacto .contacto__form .btn {
      background: #fff; }
      .contacto .contacto__form .btn:hover {
        background: #0086ad; }

/* MAPA */
.ubication__map {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .ubication__map .mapa {
    margin: 6% 0;
    height: 50vh;
    width: 80%; }

@media (min-width: 600px) and (max-width: 1200px) {
  .contacto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; }
    .contacto .contacto__form {
      width: 100%; }
      .contacto .contacto__form .form__controls {
        margin-left: 10%;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        border: solid 1px #000; }
  .segundotitulo {
    margin-top: 30%; }
  .ubication__map {
    display: flex;
    justify-content: center;
    align-items: center; }
    .ubication__map .mapa {
      width: 100%; } }

@media (max-width: 599px) {
  .contacto {
    font-size: 1.5;
    margin-top: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; }
    .contacto .contacto__form {
      width: 100%; }
      .contacto .contacto__form .form__controls {
        display: flex;
        margin: auto;
        width: 100%;
        margin-left: 10%;
        font-size: 20px;
        border: solid 1px #000; }
  .segundotitulo {
    margin-top: 30%; }
  .ubication__map {
    display: flex;
    justify-content: center;
    align-items: center; } }

/*  Colores */
/* Footer */
.footer {
  background: #20dad8;
  color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #000;
  font-family: "Mukta", sans-serif; }

.title {
  color: #daf8e3;
  font-size: 4em;
  font-family: "Noto Sans", sans-serif; }

.subtitle {
  color: #daf8e3;
  font-size: 25px;
  font-family: "Mukta", sans-serif; }

@media (min-width: 600px) and (max-width: 1200px) {
  body {
    background: #000;
    font-family: "Mukta", sans-serif; }
  .hero {
    background: #00c2c7; } }
