/* Página  inicio */
.img__menu {
    display: flex;
    justify-content: center;
}

.presentation {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10% 15%;

    .parrafo__uno {
        color: #97ebdb;
        margin: 15% 0;
    }
    /* EXTEND */
    .parrafo__dos {
        @extend .parrafo__uno;
        color: #fff;
    }
}
