*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
} 


body{
   
    background: #000; 
    font-family: 'Mukta', sans-serif;
  
}
@import"header";
@import"inicio";
@import"menu";
@import"galeria";
@import"contacto";
@import"footer"

